html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    background: white;
    color: black;
  }
}

.MuiButton-root {
  font-weight: 700;
  border: none;
  color: #281ACB;
  text-align: center;
  font-size: 14px;
  line-height: 20.8px;
  display: inline-block;
  margin: 0px 10px;
  border-radius: 17px;
  background: #F9F8F8
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  background-color: #A044FF !important;
}
.viewContainer{
  position: relative;
  width: 100%;
 height: 100vh;
}

.storeContainer{
  margin: 0 1rem auto;
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  top: 20%;
}
.pettikHeading{
  color: #8C52FF;
  font-size: 3rem;
  font-weight: 700;
 
}
.pettikSubHeading{
  color: #07575B;
  font-family: Quicksand;
  font-weight: 600;
  margin-bottom: 2rem;
}
.playstoreImage{
  margin-bottom: 1rem;
}

.pettikContactus{
  background-color: #FFB13C;
  color: #fff;
width: 50%;
  margin: 0 25%;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 5rem;
}